<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <h3>
        <%= @user.username %>
      </h3>

        <div class="col-md-3">
          <p class="lead">
            <%= @user.visits.count %> posts
          </p>
        </div>
      </div>
    </div>
  </div>

<% end %>

<%= render @user.visits %>
